.register{
    /* background-color: rgb(0, 4, 255); */
    margin-top: 4rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    width: 80%;
    background-image: linear-gradient(to right, rgb(255, 0, 13), rgba(104, 77, 226, 0.699));
}

.sign-up-btn{
    margin-left: 20px;
}

.login-form{
    margin-top: 30px;
}

.login-form-main{
    margin-top: 7rem;
}

.login-form-main1{
    margin-top: 2rem;
}


.place-text{
    margin-top: 20px;
    width: 60%;
}

/* .inl-blk{
    display: inline;
} */

.head-regt{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
}

.regt-img{
    margin-top: 2rem;
    margin-right: 40px;
    margin-left: 30px; 
}

.regt-img-reg{
    margin-top: 4rem;
    margin-left: 2rem;
}

.text-back
{
    /* background-color:rgba(255, 0, 0, 0.603); */
    text-align: center;
    /* padding-left: 4rem; */
    /* padding-right: 4rem; */
    padding-bottom: 3rem;
    /* border-top-left-radius: 30%;
    border-bottom-left-radius: 30%; */
    border-radius: 20%;
}
